

  body {
    background-color: #FFFFFF;
    width: 10;
}

  hr {

    border-style: none;
    border-top: dotted;
    border-width: 8px;
    border-color: #EAF6F6;
    width: 12%;
}


h1 {
  color: #66BFBF;

}

h3 {
  color: #FF0063;
}
